name: Deploy Production

on:
  workflow_dispatch:
  release:
    types: [created]
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: prd
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v3
        with:
          node-version: '22.10.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@tickethic'

      - name: Install dependencies
        run: npm ci

      - name: Clean workspace
        run: rm -rf ignition/deployments || true

      - name: Deploy
        env:
          HARDHAT_IGNITION_CONFIRM_DEPLOYMENT: true
          RPC_URL: ${{ vars.RPC_URL }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: npm run deploy:dynamic --network polygon

      - name: Publish to GitHub Packages
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
