name: Deploy Dev

on:
  workflow_dispatch:
  release:
    types: [created]
  push:
    branches: [develop]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v3
        with:
          node-version: '22.10.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@tickethic'

      - name: Install dependencies
        run: |
          rm -rf node_modules package-lock.json
          npm install

      - name: Clean workspace
        run: rm -rf ignition/deployments || true

      - name: Deploy
        env:
          HARDHAT_IGNITION_CONFIRM_DEPLOYMENT: true
          RPC_URL: ${{ vars.RPC_URL }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: npm run deploy:amoy

      - name: Update environment variables
        env:
          GH_TOKEN: ${{ secrets.PAT_TICKETHIC }}
          REPO_OWNER: tickethic
          REPO_NAME: tickethic
          ENV_NAME: dev
        run: |
          ADDRESS_FILE=dist/contract-addresses.json
          if [ ! -f "$ADDRESS_FILE" ]; then
            echo "File $ADDRESS_FILE not found"
            exit 1
          else
            echo "Contenu de $ADDRESS_FILE :"
            cat "$ADDRESS_FILE"
          fi

          EVENT_MANAGER=$(jq -r '.eventManager' <$ADDRESS_FILE)
          EVENT=$(jq -r '.event // ""' <$ADDRESS_FILE)
          TICKET=$(jq -r '.ticket' <$ADDRESS_FILE)
          ORGANIZATOR=$(jq -r '.organizator' <$ADDRESS_FILE)
          ARTIST=$(jq -r '.artist' <$ADDRESS_FILE)

          declare -A vars=(
            [NEXT_PUBLIC_EVENT_MANAGER_CONTRACT]=$EVENT_MANAGER
            [NEXT_PUBLIC_EVENT_CONTRACT]=$EVENT
            [NEXT_PUBLIC_TICKET_CONTRACT]=$TICKET
            [NEXT_PUBLIC_ORGANIZATOR_CONTRACT]=$ORGANIZATOR
            [NEXT_PUBLIC_ARTIST_CONTRACT]=$ARTIST
          )

          for var in "${!vars[@]}"; do
            echo "Updating $var=${vars[$var]}"
            gh api --method PATCH -H "Accept: application/vnd.github+json" \
              /repos/$REPO_OWNER/$REPO_NAME/environments/$ENV_NAME/variables/$var \
              -f value="${vars[$var]}"
          done

