name: Deploy Dev

on:
  workflow_dispatch:
  release:
    types: [created]
  push:
    branches: [develop]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v3
        with:
          node-version: '22.10.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@tickethic'

      - name: Install dependencies
        run: |
          rm -rf node_modules package-lock.json
          npm install

      - name: Clean workspace
        run: rm -rf ignition/deployments || true

      - name: Deploy
        env:
          HARDHAT_IGNITION_CONFIRM_DEPLOYMENT: true
          RPC_URL: ${{ vars.RPC_URL }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: npm run deploy:amoy
      
      - name: Liste les fichiers dist
        run: ls -la dist

      - name: Update environment variables
        env:
          PAT_TICKETHIC: ${{ secrets.PAT_TICKETHIC }}
        run: node scripts/updateEnv.js